input {
	font-family: 'Rajdhani', sans-serif !important;
}
label.expand {
	width: 100%;
}

input[type=button], button, .button {
	font-family: 'Rajdhani', sans-serif !important;
	font-size: calc(1rem + .5vw);
	font-weight: bold;
	width: 100%;
}

input[type=text],input[type=email],textarea,textarea.input {
	font-size: calc(.75rem + .5vw);
	width: 100%;
	margin-top: 1rem;
}
textarea,textarea.input {
	height: 100%;
}
input[type=text],input[type=email] {
	height: 5rem;
}
input.required::placeholder {
	font-weight: bold;
}
input[type=text].radio-other {
	height: 2rem;
	margin-top: 0;
}

label {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	flex: 1;
	font-size: calc(2rem);
}

label.for-textarea {
	flex-grow: 1;
	width: 100%;
}

input[type=radio],input[type=checkbox] {
	min-width: 1.5rem;
	height: 1.5em;
}

#bots-beware {
	position: absolute;
	left: -5000px;
}

.color input, .color button, .color textarea {
       background-color: var(--color0-bg);
       color: var(--color0-text);
       border: 2px solid;
}
.color input::placeholder, .color button::placeholder, .color textarea::placeholder {
       color: var(--color0-text);
       opacity: .5;
}
.color input[type=radio], .color input[type=checkbox] {
       accent-color: var(--color0-accent);
}
.color input[type=radio]:hover, .color input[type=checkbox]:hover {
	accent-color: var(--color0-accent1);
}
.color0 input, .color0 button, .color0 textarea {
	background-color: var(--color1-bg);
	color: var(--color1-text);
	border: 2px solid;
}
.color0 input::placeholder, .color0 button::placeholder, .color0 textarea::placeholder {
	color: var(--color0-text);
	opacity: .5;
}
.color0 input[type=radio], .color0 input[type=checkbox] {
	accent-color: var(--color0-accent);
}
.color0 input[type=radio]:hover, .color0 input[type=checkbox]:hover {
	accent-color: var(--color0-accent1);
}
.color1 input, .color1 button, .color1 textarea {
	background-color: var(--color0-bg);
	color: var(--color0-text);
	border: 2px solid;
}
.color1 input::placeholder, .color1 button::placeholder, .color1 textarea::placeholder {
	color: var(--color0-text);
	opacity: .5;
}
.color1 input[type=radio], .color1 input[type=checkbox] {
	accent-color: var(--color0-bg);
}
.color1 input[type=radio]:hover, .color1 input[type=checkbox]:hover {
	accent-color: var(--color0-bg);
}

.is-primary {
	min-height: 5rem;
}
